@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primaryColor :#111827;
    --secondaryColor: #00FF00;
}

body{
    margin-top: 15vh;
   background-color: var(--primaryColor);
   color: var(--secondaryColor);
   font-family: 'Roboto', sans-serif;

}
.container{
    width: 50%;
    border: 0.2rem solid var(--secondaryColor);
    margin: auto;
    text-align: center;
}
input{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#output-box{
    margin-top: 1rem;
    font-weight: bold;
}
#submit-btn{
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--secondaryColor);
    background: transparent;
    color: white;
    cursor: pointer;
}